<div class="row justify-content-center col-lg-6 col-md-8">
  <div class="team-page py-4 text-center">

    <h1><%= @team.team_name %></h1>
    <div class="team-logo-and-tier d-flex text-start m-2 p-2 rounded border border-white align-items-center">
      <div class="d-flex team-logo">
        <%= image_tag "logos/#{@team.team_logo}", width: 150 %>
      </div>

      <div class="team-description">
        <p class="ps-2"><%= team_tier(@team) %></p>
      </div>
    </div>

    <div class="team-principal-and-goals d-flex text-start m-2 p-2 rounded border border-white align-items-center">
      <div class="team-description">
        <p class="pe-2">You'll be working directly with <strong><%= @team.chief.chief_name %></strong>
        <%= team_description(@team) %></p>
      </div>

      <div class="d-flex team-principal me-2">
        <%= image_tag "chiefs/#{@team.chief.chief_image}", height: 100, width: 100, crop: :fill, class:"chief-photo" %>
      </div>
    </div>

    <div class="pb-2">
    <p><%= image_tag "cars/#{@team.cars.sample.car_image}", width: 200 %></p>
    </div>

    <div class="d-flex align-middle justify-content-between mx-4 pt-4">

      <div class="next-previous-btns">
        <% if @team.id > 1 %>
        <% id = @team.id - 1%>
        <%= link_to "Previous", team_path(id), class: "primary-btn" %>
        <% else %>
        <div class="pt-4"></div>
        <% end %>
      </div>

      <div class="next-previous-btns">
        <% if @team.id < 10 %>
        <% id = @team.id + 1%>
        <%= link_to "Next", team_path(id), class: "primary-btn" %>
        <% else %>
        <div class="pt-4"></div>
        <% end %>
      </div>

    </div>

    <div class="pt-4">
      <%= link_to "All Teams", teams_path, class: "primary-btn" %>
    </div>
  </div>
</div>
