<div class="row justify-content-center">
  <div class="col-10 py-4">

    <div class="form-title pb-2 text-center">
      <h2>Edit <%= resource_name.to_s.humanize %></h2>
    </div>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs text-start">
        <%= f.input :email, required: true, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :first_name,
                    required: true,
                    input_html: { autocomplete: "First Name" }%>
        <%= f.input :last_name,
                    required: true,
                    input_html: { autocomplete: "Last Name" }%>
        <%= f.input :photo, as: :file,
                    hint: "Upload a profile image",
                    required: false %>
        <%= f.input :password,
                    hint: "leave it blank if you don't want to change it",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :current_password,
                    hint: "we need your current password to confirm your changes",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
      </div>

      <div class="form-actions pb-4">
        <%= f.button :submit, "Update", class: "btn-primary" %>
      </div>
    <% end %>

    <h3 class="py-2">Unhappy?</h3>

    <div class="pb-3"><%= button_to "Cancel my account", registration_path(resource_name), class: "btn btn-danger", data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

    <%= link_to "Back", :back %>

  </div>
</div>
