<%= simple_form_for(@race) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="newraceform">
    <%= f.input :selected_team, label: "Select your team", collection: Race::TEAM, include_blank: false, include_hidden: false %>
    <%= f.input :circuit_id, as: :select, collection: Circuit.pluck(:circuit_name, :id), label: 'Circuit', include_blank: false, required: false, input_html: { required: false } %>
  </div>

  <div class="form-actions row justify-content-center py-2">
    <%= f.button :submit, "Start Race", class: "btn btn-primary" %>
  </div>
<% end %>
