<%= simple_form_for(@race) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="newraceform">
    <% if current_user.prestige >= 7 %>
      <%= f.input :team_id, as: :select, collection: Team.pluck(:name, :id), label: 'Select your team', include_blank: false, required: false, input_html: { required: false } %>
    <% elsif current_user.prestige >= 4 %>
      <%= f.input :team_id, as: :select, collection: Team.pluck(:name, :id).reverse.first(7), label: 'Select your team', include_blank: false, required: false, input_html: { required: false } %>
    <% else %>
      <%= f.input :team_id, as: :select, collection: Team.pluck(:name, :id).reverse.first(4), label: 'Select your team', include_blank: false, required: false, input_html: { required: false } %>
    <% end %>
    <%= f.input :circuit_id, as: :select, collection: Circuit.pluck(:country, :id), label: 'Circuit', include_blank: false, required: false, input_html: { required: false } %>
  </div>

  <div class="form-actions row justify-content-center py-2">
    <%= f.button :submit, "Start Race", class: "btn btn-primary" %>
  </div>
<% end %>
