<div class="race-qualy pt-2 m-2 rounded border border-white">
  <div class="qualifying-result-page d-flex row justify-content-between align-items-center mx-3">

    <div class="gp-name-and-flag d-flex justify-content-center align-items-center mb-1">
      <div class="gp-name d-flex pe-3 align-items-center">
        <h2><%= @circuit.circuit_name %> GP </h2>
      </div>
       <div class="gp-flag d-flex align-items-center">
        <%= image_tag "circuits/#{@circuit.circuit_flag}", width: 38 %>
      </div>
    </div>

    <div class="circuit-weather">
      <p>Current weather: <%= @race.weather %> </p>
    </div>

    <div class="current-session">
      <p>Current session: <%= @race.status %> </p>
    </div>

    <div class="circuit-layout my-2">
      <%= image_tag "circuits/#{@circuit.circuit_layout}", width: 300 %>
    </div>

    <div id="starting-grid" class="starting-grid text-start mx-2">
      <!-- Display starting grid order -->
        <h3 class="text-center">Starting Grid</h3>
        <% @starting_grid.each_with_index do |lap_time, index| %>
          <!-- Display driver's lap time information -->
          <% driver_name = lap_time.driver.driver_name %>
          <%= "#{index + 1} - #{driver_name}: #{format_lap_time(lap_time.time)}" %>
          </p>
        <% end %>
        <div class="qualifying-empty"></div>
      </div>

  </div>
</div>
