<div class="race-qualy pt-2 m-2 rounded border border-white">
  <div class="qualifying-result-page d-flex row justify-content-between align-items-center mx-3">

    <div class="gp-name-and-flag d-flex justify-content-center align-items-center mb-1">
      <div class="gp-name d-flex pe-3 align-items-center">
        <h2><%= @circuit.circuit_name %> GP </h2>
      </div>
       <div class="gp-flag d-flex align-items-center">
        <%= image_tag "circuits/#{@circuit.circuit_flag}", width: 38 %>
      </div>
    </div>

    <div class="current-session">
      <p>Your team: <%= @team.team_name %> </p>
    </div>

    <div class="current-session">
      <p>Current session: <%= @race.status %> </p>
    </div>

    <div class="circuit-weather">
      <p>Current weather: <%= @race.weather %> </p>
    </div>

    <div class="circuit-layout my-2">
      <%= image_tag "circuits/#{@circuit.circuit_layout}", width: 300 %>
    </div>

    <div class="qualifying-results d-flex row">
      <div id="q1-results" class="q1-results text-start mx-2">
      <!-- Display lap times for Q1 drivers -->
        <h3 class="text-center">Q1 Lap Times</h3>
        <p class="text-center pb-2">(Bottom 5 drivers won't advance to Q2)</p>
        <% @q1_lap_times.each_with_index do |lap_time, index| %>
          <!-- Display driver's lap time information -->
          <% driver_name = lap_time.driver.driver_name %>
          <% lap_time_style = index >= @q1_lap_times.length - 5 ? 'color: #df0000;' : '' %>
          <p id="q1-lap-time-<%= index %>" style="display: none; <%= lap_time_style %>">
          <%= "#{index + 1} - #{driver_name}: #{format_lap_time(lap_time.time)}" %>
          </p>
        <% end %>
        <div class="qualifying-empty"></div>
      </div>

      <div class="d-flex justify-content-center">
      <button id="start-q2-btn" class="btn btn-primary" style="display: none;">Start Q2</button>
      </div>

      <div id="q2-results" class="q2-results text-start mx-2" style="display: none;">
      <!-- Display lap times for Q2 drivers -->
        <h3 class="text-center">Q2 Lap Times</h3>
        <p class="text-center pb-2">(Top 10 drivers advance to Q3)</p>
        <% @q2_lap_times.each_with_index do |lap_time, index| %>
          <!-- Display driver's lap time information -->
          <% driver_name = lap_time.driver.driver_name %>
          <% lap_time_style = index >= @q2_lap_times.length - 5 ? 'color: #df0000;' : '' %>
          <p id="q2-lap-time-<%= index %>" style="display: none; <%= lap_time_style %>">
          <%= "#{index + 1} - #{driver_name}: #{format_lap_time(lap_time.time)}" %>
          </p>
        <% end %>
        <div class="qualifying-empty"></div>
      </div>

      <div class="d-flex justify-content-center">
      <button id="start-q3-btn" class="btn btn-primary" style="display: none;">Start Q3</button>
      </div>

      <div id="q3-results" class="q3-results text-start mx-2" style="display: none;">
      <!-- Display lap times for Q3 drivers -->
        <h3 class="text-center">Q3 Lap Times</h3>
        <p class="text-center pb-2">(Best time will start on pole position)</p>
        <% @q3_lap_times.each_with_index do |lap_time, index| %>
          <!-- Display driver's lap time information -->
          <% driver_name = lap_time.driver.driver_name %>
          <% lap_time_style = index == 0 ? 'color: #1edd88;' : '' %>
          <p id="q3-lap-time-<%= index %>" style="display: none; <%= lap_time_style %>">
          <%= "#{index + 1} - #{driver_name}: #{format_lap_time(lap_time.time)}" %>
          </p>
        <% end %>
        <div class="qualifying-empty"></div>
      </div>

      <div class="d-flex justify-content-center">
        <%= link_to 'Go To Race', gp_race_path(@race), class: 'btn btn-primary', id: 'go-to-race-btn', style: 'display: none;' %>
      </div>

      <div class="qualifying-empty"></div>
    </div>
  </div>
</div>

<script>
var startQ2Button = document.getElementById("start-q2-btn");
var startQ3Button = document.getElementById("start-q3-btn");
var goToRaceButton = document.getElementById("go-to-race-btn");
var q1ResultsContainer = document.getElementById("q1-results");
var q2ResultsContainer = document.getElementById("q2-results");
var q3ResultsContainer = document.getElementById("q3-results");

// Attach event listeners to the buttons
startQ2Button.addEventListener("click", showQ2);
startQ3Button.addEventListener("click", showQ3);

// Function to switch to Q2 results
function showQ2() {
  q1ResultsContainer.style.display = "none";
  startQ2Button.style.display = "none";
  q2ResultsContainer.style.display = "block";
  revealLapTimes(q2ResultsContainer, startQ3Button);
}

// Function to switch to Q3 results
function showQ3() {
  q2ResultsContainer.style.display = "none";
  startQ3Button.style.display = "none";
  q3ResultsContainer.style.display = "block";
  revealLapTimes(q3ResultsContainer, goToRaceButton);
}

// Function to reveal lap times line by line
function revealLapTimes(container, nextButton) {
  var lapTimes = container.querySelectorAll("p");
  var index = 0;
  var interval = setInterval(function() {
    lapTimes[index].style.display = "block";
    index++;
    if (index === lapTimes.length) {
      clearInterval(interval);
      if (nextButton) {
        nextButton.style.display = "block";
      }
    }
  }, 100); // Adjust the interval duration (in milliseconds) as desired
}

// Initial reveal of Q1 lap times
revealLapTimes(q1ResultsContainer, startQ2Button);
</script>
