<div class="row justify-content-center col-lg-8 col-md-10">
  <div class="team-page text-center">

    <% check_circuit(@race.selected_circuit) %>
    <% check_selected_team(@race.selected_team) %>

    <div class="gp-layout p-2 m-2 rounded border border-white">
      <div class="gp-name-and-flag d-flex justify-content-center align-items-center mb-1">
        <div class="gp-name d-flex pe-3 align-items-center">
          <h1><%= @circuit.circuit_name %> GP </h1>
        </div>
        <div class="gp-flag d-flex align-items-center">
          <%= image_tag "circuits/#{@circuit.circuit_flag}", width: 36 %>
        </div>
      </div>

      <div class="circuit-weather">
        <p>Current weather: <%= @race.weather %> </p>
      </div>

      <div class="current-session">
        <p>Current session: <%= check_race_session(@race.status) %> </p>
      </div>

      <div class="circuit-layout my-2">
        <%= image_tag "circuits/#{@circuit.circuit_layout}", width: 300 %>
      </div>

      <div class="circuit-layout">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item py-0 my-0">
            <p class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Track details
              </button>
            </p>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="d-flex">
                <div class="row text-start p-2 mt-0 me-1">
                  <p>Slow corners: <%= @circuit.slow_curves %></p>
                  <p>Medium corners: <%= @circuit.medium_curves %></p>
                  <p>Fast corners: <%= @circuit.fast_curves %></p>
                </div>
                <div class="row text-start p-2 mt-0 ms-1">
                  <p>Short straights: <%= @circuit.short_straights %></p>
                  <p>Medium straights: <%= @circuit.medium_straights %></p>
                  <p>Long straights: <%= @circuit.long_straights %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="gp-layout pt-2 m-2 rounded border border-white">
      <div class="race-team-name d-flex justify-content-center align-items-center">
        <div class="d-flex pe-3">
          <h3><%= @selected_team.team_name %></h3>
        </div>
        <div class="d-flex align-middle">
          <%= image_tag "logos/#{@selected_team.team_logo}", width: 40 %>
        </div>
      </div>

      <div class="race-car-setup-info pt-2 p-2 m-2 rounded border border-white">

        <div class="race-car-image pb-2">
          <%= image_tag "cars/#{@selected_team.cars.first.car_image}", width: 200 %>
        </div>

        <div class="race-car-setup-and-image justify-content-between align-items-center">
          <div class="pb-2">
            <h4>Current Car Setup:</h4>
          </div>

          <div class="race-car-setup-current text-start">
            <ul>
              <li>Aero Setup: <%= @selected_team.cars.first.aero_setup %></li>
              <li>Gear Ratio: <%= @selected_team.cars.first.gear_ratio %></li>
              <li>Tyres: <%= @selected_team.cars.first.tyres %></li>
            </ul>
          </div>

          <div class="race-car-setup-edit text-start">

            <%= simple_form_for(@selected_team.cars.first) do |f| %>
            <%= f.error_notification %>
            <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

            <div class="newraceform">
              <%= f.input :aero_setup, label: "Select Aero Setup:", collection: Car::AEROSETUP, include_blank: false, include_hidden: false %>
              <%= f.input :gear_ratio, label: "Select Gear Ratio:", collection: Car::GEARS, include_blank: false, include_hidden: false %>
              <%= f.input :tyres, label: "Select Tyres:", collection: Car::TYRES, include_blank: false, include_hidden: false %>
            </div>

            <div class="form-actions row justify-content-center py-2">
              <%= f.button :submit, "Confirm car setup", class: "btn btn-info" %>
            </div>
            <% end %>
          </div>

          <div class="race-car-setup-edit">
          </div>
        </div>
      </div>
    </div>

    <div class="pt-4">
      <%= button_to "Start Qualifying", qualy_race_path(@race), method: :put %>
    </div>

    <div class="pt-4">
      <%= button_to "Cancel this race", @race, method: :delete, class: "btn btn-warning", data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>
    </div>

  </div>
</div>
