<div class="row justify-content-center">
  <div class="text-center">
    <div class="profile-user pt-2 m-2 rounded border border-white">
      <% if @user.photo.key %>
        <%= cl_image_tag @user.photo.key, height: 150, width: 150, crop: :fill, class:"profile-photo" %>
      <% else %>
        <%= image_tag "photo_base.png", class:"profile-photo" %>
      <% end %>
      <h3 class="my-2"><%= @user.first_name %> <%= @user.last_name %></h3>
    </div>

    <div class="profile-user text-start m-2 p-2 rounded border border-white">
      <h4>Experience: <%= @user.experience %></h4>
      <h4>Prestige: <%= @user.prestige %></h4>
      <h4>Team Races: <%= @user.user_races %></h4>
      <h4>Team Poles: <%= @user.user_poles %></h4>
      <h4>Team Podiums: <%= @user.user_podiums %></h4>
      <h4>Team Victories: <%= @user.user_victories %></h4>
    </div>

    <div class="profile-user text-start m-2 p-2 rounded border border-white">
      <% if @user.experience <= 1 %>
      <p>NEWS: "<%= @user.first_name %> <%= @user.last_name %>'s
      presence caught some of the press's attention earlier this year.
      Although not much can be said about the results, critics believe we'll see a good impact
      on the team working for their future CEO."</p>
      <% else %>
      <p><%= @user.first_name %> <%= @user.last_name %> is the boss!</p>
      <% end %>
    </div>

  </div>

  <div class="text-center pb-2">
    <%= link_to "Edit profile", edit_user_registration_path, class:"primary-btn" %>
  </div>

  <div class="text-center pb-3">
  <%= link_to "Back", root_path, class: "primary-btn" %>
  </div>

</div>
