<div class="row justify-content-center">
  <div class="game-title py-4 text-center">
    <h1>OVERTAKE</h1>
    <h2 class="pb-3">Racing Manager</h2>
    <%= image_tag "home_car.png", height: 200 %>
    <% if user_signed_in? %>
      <p class="pt-4">Hi <%= current_user.first_name %> <%= current_user.last_name %>!</p>
      <p class="mx-4 py-3">Select a team to be their CEO and manage them through the races.</p>
      <%= link_to "Se all teams", teams_path, class: "primary-btn" %>
    <% else %>
      <p class="py-4 mx-4">Are you ready to experience the adrenaline of being the CEO of a racing team and lead its path to success?</p>
      <div class="link-spaces pb-3">
        <%= link_to "Log in", new_user_session_path %>
      </div>

      <div class="link-spaces pb-3">
        <%= link_to "Sign up", new_user_registration_path %>
      </div>
    <% end %>
  </div>
</div>
