<div class="home-page">
  <div class="game-title d-flex row justify-content-center py-2">
    <h1>OVERTAKE</h1>
    <h2 class="pb-3">Racing Manager</h2>
    <div>
      <%= image_tag "home_car.png", height: 200 %>
    </div>
    <% if user_signed_in? %>
      <div class="col-10">
        <p class="pt-4">Hi <%= current_user.first_name %> <%= current_user.last_name %>!</p>
        <p class="py-3">Lead a team throughout races and become the best manager in the paddock.</p>
      </div>

      <div class="d-flex btn-new-race justify-content-between pt-3 mx-4">
        <div class="home-empty"></div>
        <%= link_to "View teams", teams_path, class: "btn btn-info" %>
        <%= link_to "New race", new_race_path, class:"btn btn-primary" %>
        <div class="home-empty"></div>
      </div>
    <% else %>
      <div class="col-8">
        <p class="py-4 mx-2">Are you ready to experience the adrenaline of leading a racing team in its path to success?</p>
      </div>

      <div class="link-spaces pb-3">
        <%= link_to "Log in", new_user_session_path, class: "btn btn-primary" %>
      </div>

      <div class="link-spaces pb-3">
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-info" %>
      </div>
    <% end %>
  </div>
</div>
